PORT=3000

JWT_SECRET=JWT_SECRET

POSTGRES_USER=yourUser
POSTGRES_PASSWORD=yourPassword
POSTGRES_DB=yourDatabase

DATABASE_URL="postgresql://yourUser:yourPassword@localhost:5432/yourDatabase?schema=public"